@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    color: #fff;
    font-family: Roboto, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #fff;
}
a:hover, a:focus, a:active {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-family:Roboto-Thin;
    font-size: 44px;
    color: #5284ff;
}

.text-normal {
    color: #000;
    font-family:Roboto-Light;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 33px;
    text-align: justify;
}

#header-section {
    min-height: 810px;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo {
    padding: 83px 0 0 110px;
}

.text-big {
    padding-top: 200px;
    font-family: Roboto-Thin;
    font-size: 60px;
    letter-spacing: 5px;
}

.text-bold {
    font-family: Roboto-Bold;
}

.text-menu {
    padding-top: 50px;
}

.text-menu > li {
    display: inline;
    padding: 0 25px;
}

.text-menu > li > a {
    font-family:Roboto;
    font-size: 18px;
    letter-spacing: 1px;
    color: #8fcbff;
}

.text-menu > li > .active {
    color: #fff;
    border-bottom: 3px solid #ff676d;
    padding-bottom: 15px;
}

.arrow {
    background-size: cover;
    height: 70px;
    width: 70px;
    position: absolute;
    bottom:-35px;
    left: calc(50% - 35px);
    z-index: 10;
}

.arrow-red {
    background: url("../images/arrowRed.png") no-repeat center;
}

.arrow-blue {
    background: url("../images/arrowBlue.png") no-repeat center;
}


@media (max-width: 768px) {
    .text-menu > li {
        display: block;
        padding: 25px;
    }
    .logo {
        padding: 80px 25px 0 25px;
        text-align: center;
    }
}

.equal-section {
    min-height: 810px;
    height: 100%;
}

.equal-section .img-wrapper {
    background: url("../images/bgSmall.jpg") no-repeat center;
    background-size: cover;
    min-height: 810px;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
}

.title-blue {
    padding: 135px 0 78px 150px ;
}

.title-right {
    padding-left: 150px;
    padding-right: 100px;
}

@media (max-width: 1200px) {
    .title-right {
        padding: 0 20px;
    }
    .title-blue {
        padding-left: 20px;
    }
}

#certified-section {
    min-height: 810px;
    height: 100%;
}

#certified-section li {
    display: flex;
    flex-direction: row;
}

.checkbox-blue {
    padding-right: 50px;
    padding-left: 150px;
}

.text-bold-small {
    font-family: Roboto-Bold;
}

.certificate-img-wrapper {
    text-align: center;
    padding-top: 170px;
    padding-bottom: 100px;
}

.certificate-img {
    padding-top: 30px;
    width: 80%;
}

.certificate-img-big {
    width: 60%;
}


@media (max-width: 1200px) {
    .checkbox-blue {
        padding-right: 25px;
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .certificate-img-wrapper {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

.blue-section {
    min-height: 810px;
    height: 100%;
    background: url("../images/bg_blue.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.blue-section .box-wrapper {
    padding: 100px 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .blue-section .box-wrapper {
        padding: 50px 20px;
    }
}

.blue-section .title {
    font-family:Roboto-Bold;
    font-size: 16px;
    height: 100px;
    padding-top: 50px;
}

.text-white {
    color: #fff;
}


button {
    background-color: transparent;
    border-radius: 28px;
    border: 1px solid;
    border-color: #fff;
    padding: 11px 20px 9px 20px;
    margin: 10px 0;
    outline: none;
    transition: all 0.3s ease-out;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button:hover {
    border-color: gray;
}

button .button-text {
    text-align: left;
    font-size: 13px;
    font-family: Roboto-Bold;
    letter-spacing: 1px;
    color: #fff;
}

button .button-img {
    text-align: right;
}

#section-grey {
    min-height: 570px;
    height: 100%;
}
.text-grey {
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
    font-family:Roboto-Thin;
    font-size: 22px;
    color: #9c9c9c;
    line-height: 27px;
}

#section-grey .img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0.7;
    padding-bottom: 150px;
}

#section-grey .img-wrapper .img-box {
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}


/*Footer style*/

footer {
    background-color: #262626;
    border-color: transparent;
    border-radius: 0;
}

.footer-list {
    text-decoration: none;
    list-style-type: none;
    text-align: right;
}

.footer-text {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    line-height: 150px;
}

.footer-list > li {
    display: inline-block;
}

.footer-list > li > a {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    line-height: 150px;
    padding: 0 20px;
    text-decoration: none;
}

.footer-list > li > a > img {
    margin: 0 -10px;
}


/*Backup site style*/


.padding-small {
    padding-top: 140px;
    padding-right: 100px;
    padding-left: 10px;
}

@media (max-width: 992px) {
    .padding-small {
        padding: 50px 10px 10px 10px
    }
}

.backup-second-section .box-wrapper {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.backup-second-section .title-black {
    font-family:Roboto-Bold;
    font-size: 16px;
    line-height: 23px;
    color: #0e1a35;
    text-align: center;
    padding: 10px 0 70px 0;
}


.backup-second-section li {
    display: flex;
    flex-direction: row;
}

.backup-second-section ul {
    padding-top: 145px;
    padding-bottom: 50px;
    margin: 0 -15px;
}

.backup-second-section li .checkbox-blue {
    padding-left: 0;
}

@media (max-width: 1200px) {
    .backup-second-section ul {
        padding-top: 145px;
        padding-bottom: 50px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .backup-second-section ul {
        padding: 25px 10px;
    }
}

.blue-sky-section {
    min-height: 810px;
    height: 100%;
    background: url("../images/bgBackup-blue.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.blue-sky-section ul {
    padding-top: 215px;
    padding-bottom: 100px;
}

.sky-section li {
    display: flex;
    flex-direction: row;
}

.sky-section li .checkbox-blue {
    padding-left: 0;
}

.sky-section li .checkbox-blue img {
    opacity: 0.2;
}

.blue-sky-section .text-wrapper-right {
    padding-top: 215px;
    padding-left: 70px;
}

.blue-sky-section .text-wrapper-right h2 {
    padding-bottom: 15px;
}


@media (max-width: 992px) {
    .sky-section ul {
        padding: 50px 10px 50px 10px;
    }
    .sky-section .text-wrapper-right {
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.red-sky-section {
    min-height: 810px;
    height: 100%;
    background: url("../images/bgBackup-red.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.red-sky-section .text-wrapper-left {
    padding-top: 100px;
    padding-right: 30px;
}

.red-sky-section ul {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
}

.red-sky-section .text-wrapper-left h2 {
    padding-bottom: 15px;
}

@media (max-width: 992px) {
    .red-sky-section ul {
        padding: 50px 10px 100px 10px;
    }
    .red-sky-section .text-wrapper-left {
        padding-right: 10px;
        padding-left: 10px;
    }
}

#section-white {
    min-height: 810px;
    height: 100%;
    position: relative;
}

#section-white .text-big {
    line-height: 55px;
    font-family:Roboto-Thin;
    font-size: 44px;
    color: #5284ff;
    padding: 350px 20px 0 20px;
}

.contact-section {
    min-height: 810px;
    height: 100%;
    background-color: #5284ff;
}

.contact-section .text-wrapper-left {
    padding-top: 175px;
}

.contact-section .text-wrapper-left h2 {
    padding-bottom: 25px;
}

@media (max-width: 992px) {
    .contact-section .text-wrapper-left {
        padding: 175px 10px 0 10px;
    }
}

form {
    width: 345px;
    margin: 175px auto 100px auto;
}

@media (max-width: 992px) {
    .wrapper {
        padding: 0 5px;
    }
    form {
        width: 300px;
        margin: 45px auto 100px auto;
    }
}

.group {
    position: relative;
    margin: 30px 0;
}

input {
    background: none;
    color: #fff;
    font-size: 15px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
}

@media (max-width: 992px) {
    input {
        width: 280px;
    }
}

input:focus {
    outline: none;
}
input:focus ~ label, input:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #ff676d;
}
input:focus ~ .bar:before {
    width: 300px;
}

input[type="password"] {
    letter-spacing: 0.3em;
}

label {
    color: #fff;
    font-size: 15px;
    font-family: Roboto-Light;
    font-style: italic;
    position: absolute;
    pointer-events: none;
    top: 5px;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
}

.bar {
    position: relative;
    display: block;
    width: 300px;
}
.bar:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #ff676d;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    left: 0%;
}

form button {
    width: 200px;
    padding: 15px 0 15px 70px;
    text-align: center;
    font-family: Roboto-Bold;
    font-size:18px;
    border: 2px solid;
    position: relative;margin-top: 65px;
}

form button img {
    position: absolute;
    right: 28px;
    top: 19px;
}

form button:hover {
    border-color: #ff676d;
}

.contact-section-red {
    background-color: #ff676d;
}

.contact-section-red input:focus ~ label, input:valid ~ label {
    color: #47a7f9;
}

.contact-section-red .bar:before {
    background: #47a7f9;
}

.contact-section-red form button:hover {
    border-color: #47a7f9;
}

#calc-section {
    min-height: 810px;
    height: 100%;
    position: relative;
}

#calc-section .padding-top {
    padding-top: 130px;
}

#calc-section .text-normal-black {
    font-family: Roboto-Light;
    font-size: 21px;
    line-height: 34px;
    color: #494949;
    margin-right: -160px;
    padding-bottom: 70px;
}

#calc-section .text-normal-black span {
    padding-left: 25px;
}

@media (max-width: 768px) {
    #calc-section .text-normal-black {
        margin-right: 0px;
        padding-bottom: 70px;
    }
}

/*Print site style*/
#print h5 {
    font-size: 26px;
    line-height: 41px;
    font-family: Roboto-Light, sans-serif;
    color: #646464;
}

#print h5 em {
    padding: 0 5px 3px;
    color: #fff;
    background-color: #5284ff;
}

#print form label {
    color: #888;
}

#print form input {
    border-color: #888;
}

#print form button {
    background-color: #ff676d;
}

#print .jumbo {
    height: 864px;
    background: url(../images/bg-print.jpg) no-repeat right center;
    background-size: cover;
    position: relative;
}

#print .jumbo .hp-partner {
    position: absolute;
    right: -30px;
    top: 70px;
}

#print .content {
    padding-left: 105px;
}

#print .content form {
    margin: 80px 0;
}

#print .content .logo {
    padding-left: 0;
}

#print .content .slogan {
    padding: 36px 0 25px
}

@media (max-width: 1200px) {
    #print .content {
        padding-left: 50px;
    }
}

@media (max-width: 992px) {
    #print .content .logo {
        text-align: center;
    }

    #print h2, #print h5 {
        text-align: center;
    }

    #print .jumbo {
        background: url(../images/bg-print-no-arrow.jpg) no-repeat right center;
    }

    #print .jumbo .hp-partner {
        top: auto;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 50%);
    }

    #print .content {
        padding: 0;
    }

    #print .content form {
        margin: 80px auto;
    }
}