@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    color: #fff;
    font-family: Roboto, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #fff;
}
a:hover, a:focus, a:active {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-family:Roboto-Thin;
    font-size: 44px;
    color: #5284ff;
}

.text-normal {
    color: #000;
    font-family:Roboto-Light;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 33px;
    text-align: justify;
}

#header-section {
    min-height: 810px;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo {
    padding: 83px 0 0 110px;
}

.text-big {
    padding-top: 200px;
    font-family: Roboto-Thin;
    font-size: 60px;
    letter-spacing: 5px;
}

.text-bold {
    font-family: Roboto-Bold;
}

.text-menu {
    padding-top: 50px;
}

.text-menu > li {
    display: inline;
    padding: 0 25px;
}

.text-menu > li > a {
    font-family:Roboto;
    font-size: 18px;
    letter-spacing: 1px;
    color: #8fcbff;
}

.text-menu > li > .active {
    color: #fff;
    border-bottom: 3px solid #ff676d;
    padding-bottom: 15px;
}

.arrow-red {
    background: url("../images/arrowRed.png") no-repeat center;
    background-size: cover;
    height: 65px;
    width: 65px;
    position: absolute;
    bottom:-35px;
    left: calc(50% - 35px);
    z-index: 10;
}

.equal-section {
    height: 810px;
}

.equal-section .img-wrapper {
    background: url("../images/bgSmall.jpg") no-repeat center;
    background-size: cover;
    min-height: 810px;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
}

.title-blue {
    padding: 135px 0 78px 150px ;
}

.title-right {
    padding-left: 150px;
}

#certified-section {
    min-height: 810px;
    height: 100%;
}

#certified-section li {
    display: flex;
    flex-direction: row;
}

.checkbox-blue {
    padding-right: 50px;
    padding-left: 150px;
}

.text-bold-small {
    font-family: Roboto-Bold;
}

.certificate-img-wrapper {
    text-align: center;
    padding-top: 170px;
}

.certificate-img {
    padding-top: 30px;
}

.blue-section {
    min-height: 810px;
    height: 100%;
    background: url("../images/bg_blue.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.blue-section .box-wrapper {
    padding: 100px 20px;
    text-align: center;
}

.blue-section .title {
    font-family:Roboto-Bold;
    font-size: 16px;
    height: 100px;
    padding-top: 50px;
}

.blue-section .text-white {
    color: #fff;
}


button {
    background-color: transparent;
    border-radius: 28px;
    border: 1px solid;
    border-color: #fff;
    padding: 11px 20px 9px 20px;
    margin: 10px 0;
    outline: none;
    transition: all 0.3s ease-out;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button:hover {
    border-color: gray;
}

button .button-text {
    text-align: left;
    font-size: 13px;
    font-family: Roboto-Bold;
    letter-spacing: 1px;
    color: #fff;
}

button .button-img {
    text-align: right;
}

#section-grey {
    min-height: 570px;
    height: 100%;
}
.text-grey {
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
    font-family:Roboto-Thin;
    font-size: 22px;
    color: #9c9c9c;
    line-height: 27px;
}

#section-grey .img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0.7;
    padding-bottom: 150px;
}

#section-grey .img-wrapper .img-box {
    width: 220px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer {
    background-color: #262626;
    border-color: transparent;
    border-radius: 0;
}

.footer-list {
    text-decoration: none;
    list-style-type: none;
    text-align: right;
}

.footer-text {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    line-height: 150px;
}

.footer-list > li {
    display: inline-block;
}

.footer-list > li > a {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    line-height: 150px;
    padding: 0 20px;
    text-decoration: none;
}

.footer-list > li > a > img {
    margin: 0 -10px;
}